# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output files
*.exe

# Dev-Cpp stuff
*_private.*
ColobotLauncher.dev
ColobotLauncher.layout
Makefile.win